.to-do-card{
    width: 500px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,0%);
    position: absolute;
    top: 20%;
    left: 50%;
  }
  
  .completed-item {
    text-decoration: line-through;
    color: lightgrey;
  }